@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300;1,700&display=swap');

*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    
}


/* css para usar tipografias */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Lato', sans-serif; */