<!DOCTYPE html>

<html xmnls:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring/spring-security">
    
    <head th:replace= "/fragments/head :: head" </head></head>
    

    
    <body>
        <header>  
            <nav th:replace= "/fragments/nav :: nav" </nav></nav>         
        </header>


        <main>

            <div class="container-index">
                
                <div class="img"></div>
            </div>

            
            
        </main>


        <footer th:replace= "/fragments/footer :: footer" </footer>
    </body>
</html>
