<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring/spring-security">

<head th:replace="/fragments/head :: head">
<link rel="stylesheet" href="../static/estilos_crear.css" type="text/css"/>
</head>


<body>
<header>
    <nav th:replace="/fragments/nav :: nav">
    </nav>
</header>


<main>
    <section class="container-flex-repartidor">
        <div class="formulario">
            <h2 class="titulo-seccion">CREAR PRESTACION</h2>
            <form class="form"
                  th:action="@{/prestacion/creado}"
                  method="POST"
                  enctype="multipart/form-data"
                  id="formu"
            >
                <div class="label">
                    <label class="subtitulo-label">Nombre</label>
                    <input
                            type="text"
                            class="form-input"
                            name="nombre"
                            placeholder="Ingresar Nombre"
                            th:value="${nombre}"
                    />
                </div>

                <div class="label">
                    <label class="subtitulo-label">Proveedor</label>
                    <select name="idProveedor" class="select-crear">
                        <option> Seleccionar Proveedor</option>
                        <option
                                th:each="proveedor: ${proveedor}"
                                th:value="${proveedor.id}"
                                th:text="$proveedor.nombre"
                                />
                    </select>
                </div>

                <div class="btn-div">
                    <button type="submit" class="btn" id="boton">
                        SUBIR
                    </button>
                </div>
            </form>
        </div>
    </section>

</main>

<footer th:replace="/fragments/footer :: footer">
</footer>

<!--<script src="/script.js"></script>-->
<script th:src="/script.js"></script>
</body>


</html>