<!DOCTYPE html>

<html xmnls:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring/spring-security">

    <head th:replace= "/fragments/head :: head" </head></head>


<body>
    <header>  
        <nav th:replace= "/fragments/nav :: nav" </nav></nav>         
</header>


<main>
    <section>
        <div class="container-flex-repartidor-listar">
            <div class="boton-nuevo">
                <a id="boton-nuevo" th:href="@{/proveedor/crear}">Crear Nuevo</a>
            </div>
            <div class="tabla-repartidor"  >
                <div>
                    <h2 class="titulo-lista">LISTADO DE PROVEEDORES</h2>
                    <hr>
                    <table class="tabla" >
                        <thead>
                            <tr>
                                <th id="titulos-listas" scope="col">Nombre</th>
                                <th id="titulos-listas" scope="col">Domicilio</th>
                                <th id="titulos-listas" scope="col">email</th>
                                <th id="titulos-listas" scope="col">Cuit</th>
                                <th id="titulos-listas" scope="col">Telefono1</th>
                                <th id="titulos-listas" scope="col">Telefono2</th>
                                <!--                                <th id="titulos-listas" scope="col"> Pais</th>-->
                                <th id="titulos-listas" scope="col">Provincia</th>
                                <th id="titulos-listas" scope="col">Departamento</th>
                                <th id="titulos-listas-acciones" scope="col">Editar</th>
                                <th id="titulos-listas-acciones" scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody class="linea-lista" th:each="proveedor : ${proveedor}">
                            <tr>
                                <td id="contenido-lista" th:text="${proveedor.nombre}"></td>
                                <td id="contenido-lista" th:text="${proveedor.domicilio}"></td>
                                <td id="contenido-lista" th:text="${proveedor.email}"></td>
                                <td id="contenido-lista" th:text="${proveedor.cuit}"></td>
                                <td id="contenido-lista" th:text="${proveedor.telefono1}"></td>
                                <td id="contenido-lista" th:text="${proveedor.telefono2}"></td>
<!--                                <td id="contenido-lista" th:text="${proveedor.nombrePais}"></td>-->
                                <td id="contenido-lista" th:text="${proveedor.provincia}"></td>
                                <td id="contenido-lista" th:text="${proveedor.departamento}"></td>
                                <td id="lista-links-tabla"><a class="links-lista-editar" th:href="@{/proveedor/editar/__${proveedor.id}__}">
                                        <span class="material-symbols-outlined">
                                            edit
                                        </span></a></td>
                                <td id="lista-links-tabla"><a class="links-lista-eliminar" onclick="return confirm('¿Estás seguro que deseas eliminar el proveedor?');" th:href="@{/proveedor/eliminar/__${proveedor.id}__}">
                                        <span class="material-symbols-outlined">
                                            delete
                                        </span>
                                    </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>


<footer th:replace= "/fragments/footer :: footer" </footer>
</body>
</html>
